<section class="row">

    <h2>Accounts List</h2>
</section>

<section class="row col-md-11" data-ng-init="init()">

    <hr />
    <div class="row">
        <div class="text-right col-md-5 text-info pull-right">
            <span>You are currently on page {{currentPage}}</span>
        </div>

        <div class="text-left col-md-5 text-info pull-left">
            <form class="form">
                <label class="label-control" for="pageSize2">Page size:</label>
                <select data-ng-change="loadPage()" style="height: 80%; width: 25%;" value="10" id="pageSize2" class="form-control text-info"
                    data-ng-model="selectedPageSize" ng-options="pageSize for pageSize in pageSizes">

                </select>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <uib-pager total-items="100000000000" ng-model="currentPage" ng-click="loadPage()"></uib-pager>

        <div class="alert alert-info" role="alert" data-ng-show="paginationEnded">
            <p>
                You have already loaded all the acount pages.
            </p>
        </div>

    </div>

    <hr/>

    <table class="table table-striped" data-show-filter="true">
        <thead class="pich-table-header">
            <tr>
                <th>
                    <a href data-ng-click="loadPage()"> Description</a>
                </th>
                <th>
                    <a href data-ng-click="loadPage()">Customer</a>
                </th>
                <th>
                    <a href data-ng-click="loadPage()">Contact</a>
                </th>
                <th>
                    <a href data-ng-click="loadPage()"> Balance</a>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="account in accounts | filter:searchLink">
                <td>
                    <p>{{account.description | limitTo:20}}</p>
                </td>
                <td>
                    <p>{{account.customer.firstName}} {{account.customer.lastName}}</p>
                </td>
                <td>
                    <p>{{account.customer.email}}</p>
                </td>
                <td>
                    <p>{{account.balance | limitTo:20}}</p>
                </td>
                <td>

                    <a class="btn btn-default"  data-dismiss="modal" data-ng-click="goToTransactions(account)">
                     Transactions
                    </a>
                </td>

            </tr>
        </tbody>
    </table>

    <div data-ng-show="consumers.length==0" class="alert alert-warning" role="alert">No accounts found.</div>

    <hr/>



</section>